h3{
    font-size: 25px ;
}
.btn-success:hover
{
    background-color: rgb(241, 206, 11);
}
 canvas {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
 }

 @keyframes example {
    
    from {box-shadow: 1px 1px 38px rgb(248, 28, 28);}
    to {box-shadow: 1px 1px 38px rgb(52, 208, 156);}
 }


 